.Report {
  margin: 5% 5%;
}

.reportTitle {
  font-size: 2.5rem;
  color: #0a9995 !important;
}

.orgName {
  font-size: 2rem;
  color: #0a9995 !important;
}

.spinnerForm {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20% auto;
  height: 120px;
}

.spinnerForm h1 {
  color: #0a9995;
}

@media print {
  .pagebreak {
      clear: both;
      page-break-after: always;
  }

  .Report {
    margin: 5% 2%;
  }
}