* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -webkit-print-color-adjust: exact;
  -webkit-filter: opacity(1);
}

.main {
  margin-left: 220px;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  .main {
    margin-left: 0px;
  }
}