.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
  padding: 20px;
  margin: 10px;
}

.flex {
  display: flex;
}

.primary-bg-color {
  background-color: #0a9995;
}

.primary-txt-color {
  color: #0a9995;
}
